albucore
albumentations
annotated-types
anyio
astor
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
Cython
decorator
dnspython
dotenv
fire
Flask
flask-cors
Flask-SQLAlchemy
fonttools
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
imageio
itsdangerous
Jinja2
lazy_loader
lmdb
lxml
MarkupSafe
networkx
numpy
opt-einsum
packaging
paddleocr
paddlepaddle
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
pymongo
pyparsing
python-docx
python-dotenv
pytz
PyYAML
RapidFuzz
requests
rsa
scikit-image
scipy
shapely
simsimd
sniffio
soupsieve
SQLAlchemy
stringzilla
termcolor
tifffile
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
